<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1> Team Name: <%=@newhash[:name]%></h1>
  <h2> Coach: <%=@newhash[:coach]%></h2>
  <h2> Point Guard:  <%=@newhash[:pg]%></h2>
  <h2> Shooting Guard: <%=@newhash[:sg]%></h2>
  <h2> Power Forward: <%=@newhash[:pf]%></h2>
  <h2> Small Forward: <%=@newhash[:sf]%></h2>
  <h2> Center: <%=@newhash[:c]%></h2>
 


 </body>
</html>


